<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" routerLink="/">Awesome Angular App</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarCollapse"
    aria-controls="navbarCollapse"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav navbar-main mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/calculator">Calculator</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<!-- <nav mat-tab-nav-bar>
    <a mat-tab-link
      *ngFor="let app of awesomeApps;"
      [routerLink]="app.link"
      routerLinkActive #rla="routerLinkActive"
      [active]="rla.isActive">
      {{ app.label }}
    </a>
  </nav> -->
